<include file="./Application/Admin/View/Layout/_meta.html" />
<title>我的桌面</title>
</head>
<body>
<div style="float: right"><iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe></div>

<div class="page-container">
	<table class="table table-border table-bordered table-bg">
		<thead>
		<tr>
			<th colspan="7" scope="col">信息统计</th>
		</tr>
		<tr class="text-c">
			<th>统计</th>
			<th>总计新闻</th>
			<th>未审核</th>
			<th>通过审核</th>
			<th>未通过审核</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c">
			<td>支队长新闻</td>
			<td>{$total.id}</td>
			<td>{$nopass.id}</td>
			<td>{$pass.id}</td>
			<td>{$fail.id}</td>
		</tr>
		<tr class="text-c">
			<td>地区新闻</td>
			<td>{$ltotal.id}</td>
			<td>{$lnopass.id}</td>
			<td>{$lpass.id}</td>
			<td>{$lfail.id}</td>
		</tr>
		<tr class="text-c">
			<td>支队长信箱</td>
			<td>{$lmsg.id}</td>
			<td>{$lmsgnopass.id}</td>
			<td>{$lmsgpass.id}</td>
			<td>{$lmsgfail.id}</td>
		</tr>
		<tr class="text-c">
			<td>政委信箱</td>
			<td>{$zlmsg.id}</td>
			<td>{$zlmsgnopass.id}</td>
			<td>{$zlmsgpass.id}</td>
			<td>{$zlmsgfail.id}</td>
		</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		<tr>
			<th colspan="2" scope="col">服务器信息</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="30%">服务器计算机名</th>
			<td><span id="lbServerName">{$_SERVER['SERVER_NAME']}/</span></td>
		</tr>
		<tr>
			<td>操作系统</td>
			<td>{PHP_OS}</td>
		</tr>
		<tr>
			<td>运行环境</td>
			<td>{$_SERVER['SERVER_SOFTWARE']}</td>
		</tr>
		<tr>
			<td>当前登录时间</td>
			<td><?php echo date('Y年m月d日 H时i分s秒')?></td>
		</tr>
		<tr>
			<td>服务器域名/IP </td>
			<td>{$_SERVER['SERVER_NAME']} {$_SERVER['SERVER_ADDR']}</td>
		</tr>

		<tr>
			<td>Host </td>
			<td>{$_SERVER['SERVER_ADDR']}</td>
		</tr>
		</tbody>
	</table>


</div>
<footer class="footer mt-20">
	<div class="container">
		<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
			Copyright &copy;2015-2017 H-ui.admin v3.0 All Rights Reserved.  <a href="http://www.mycodes.net/" target="_blank">周口师范学院</a><br>
			本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">周口师范学院</a>提供前端技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="__ADMIN_URL__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN_URL__/static/h-ui/js/H-ui.min.js"></script>
</body>
</html>